.es {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -0.2em;
    vertical-align: middle;
}

.es.es-2x {
    width: 3em;
    height: 3em;
}

.es.es-3x {
    width: 4.5em;
    height: 4.5em;
}

ª